html, body {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-family: 'Open Sans', 'Roboto', 'Helvetica', sans-serif;
}

.sitename {
    margin: 5vh 0;
    
    color: #8300BA;
    text-align: center;
}

.siteCard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: 75vw;
    padding: 25px 0;

    background-color: #13051C;
    color: #fff;
}

.indexCard {
    display: flex;
    justify-content: flex-end;

    height: 400px;
    width: 800px;
    max-width: 95vw;
    padding: 0;

    background-image: url("../images/startQuiz.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.indexFooter {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    min-height: 100px;

    background-color: #13051ce6;
}

.indexFooter button {
    max-width: 100%;
}

.indexText {
    font-size: 32px;
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
    max-width: 40%;

    border: none;
    outline: none;
    background-color: #8300BA;
    
    color: #fff;
    font-size: 18px;

    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .sitename {
        margin: 2.5vh 0;
    }
    
    .siteCard {
      width: 95vw;
    }

    .indexFooter button {
        margin: 10px 0;
    }

    .indexText {
        font-size: 24px;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 750px) {
    .indexCard {
        height: 250px;
    }
}