html, body {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-family: 'Open Sans', 'Roboto', 'Helvetica', sans-serif;
}

.sitename {
    margin: 5vh 0;
    color: #8300BA;
}

button {
    width: 200px;
    height: 50px;
    max-width: 40%;

    border: none;
    outline: none;
    background-color: #8300BA;
    
    color: #fff;
    font-size: 18px;
}