.resultTitle {
    font-size: 24px;
    text-align: center;

    width: 80%;
    margin: 10px 0;
}

.resultImage {
    max-width: 80%;
    height: auto;
    margin: 10px 0;
}

.resultDescription {
    max-width: 80%;
    font-size: 18px;
    text-align: center;

    margin: 10px 0 20px;
}

.shareButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.resultButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    margin: 20px 0;
}

button.share {
    width: 150px;
    max-width: 100%;
    margin: 10px;
    padding-left: 25px;

    font-size: 14px;

    background-position: 10px center;
    background-size: 20px;
    background-repeat: no-repeat;
}

button.facebook {
    background-color: #3B5998;
    background-image: url("../images/facebook.png");
}

button.twitter {
    background-color: #2AA9E0;
    background-image: url("../images/twitter.png");
}

button.whatsapp {
    background-color: #41C452;
    background-image: url("../images/whatsapp.png");
}

button.backHome {
    max-width: 100%;
}